/* General styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "epilogue", sans-serif;
    background-image: url('image/R.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    position: absolute;
    left: 60px;
    top: 30px;
    height: 40px;
}

.menu {
    display: flex;
    position: absolute;
    left: 750px;
    top: 50px;  
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

ul{
    list-style-type: none;    
}

.links {
    color: #46bdc7;
    text-decoration: none;
    padding: 12px;
    border-radius: 15px;
    transition: background-color 0.25s, color 0.25s;
    font-size: 15px;
}

.links:hover {
    color: white;
    background-color: #acacb3;
    padding: 12px;
    font-weight: 700;
}

/* Form styles */
.content {
    margin-top: 100px; /* Adjust as needed */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    max-width: 400px; /* Adjust as needed */
    margin-left: auto;
    margin-right: auto;
}

form {
    text-align: center;
}

form h1 {
    color: #4fd7e0;
    margin-bottom: 20px;
}

.inputs {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.inputs input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4fd7e0;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #46bdc7;
}

/* Additional styles */
.inscription {
    text-align: center;
    margin-top: 20px;
    color: #878787;
}

.inscription span {
    color: #4fd7e0;
}
